%p#notice= notice
%h1 Listing Cycles
%table
  %thead
    %tr
      %th Battery
      %th Device
      %th{:colspan => "3"}
  %tbody
    - @cycles.each do |cycle|
      %tr
        %td= cycle.battery
        %td= cycle.device
        %td= link_to 'Show', cycle
        %td= link_to 'Edit', edit_cycle_path(cycle)
        %td= link_to 'Destroy', cycle, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Cycle', new_cycle_path
